*{
    padding: 0;
    margin: 0;
}



body{
    background-color: rgb(68, 68, 68);
}

header{
    height: 80px;
}

.svg_book{
    width: 80px;
    padding-left: 20px;
}

main{
    display: flex;
    justify-content: space-around;
}

.right_screen{
    display: flex;
    justify-content: center;
    width: 50%;
}

.div_form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 8px black;
}

.form_style{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: transparent;
}

input{
    border: 0;
    border-radius: 5px;
    border-width: 2px;
    background-color: white;
    width: 250px;
    height: 50px;
    padding-left: 10px;
    box-shadow: 0px 0px 8px black;
}

button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(37, 230, 37);
    transition: 0.2s;
    box-shadow: 0px 0px 5px black;
}

button:hover{
    transition: 0.2s;
    background-color: rgb(83, 255, 83);
}

.left_screen{
    display: flex;
    width: 50%;
    justify-content: center;
}

.div_cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_style{
    display: flex;
    padding-left: 15px;
    gap: 5px;
    justify-content:center;
    flex-direction: column;
    background-color: aliceblue;
    height: 100px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
}

.titulo{
    font-size: 20px;
}
